body {
    background-image: url('Images/scrapbook-paper-1187898.jpg');
}

#header {
    color: rgb(34, 0, 26);
    text-align: center;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px#414141,
        1px 2px 1px #252525,
        1px 3px 1px #252525,
        1px 4px 1px #252525,
        1px 5px 1px #252525,
        1px 6px 1px #252525,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

#playerTurn {
    color: rgb(250, 229, 250);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    background-color: rgba(201, 118, 194, 0.63);
    margin-bottom: 20px;
    margin-top: 20px;


}

.square {
    height: 2rem;
    width: 2rem;
    border: 2px solid purple;
    box-sizing: border-box;
    cursor: pointer;
}



.playerone {
    background-color: black;
}

.playertwo {
    background-color: white;
}

.square.available {
    background-color: rgb(223, 130, 161);

}

.square.occupied {
    cursor: not-allowed;
    pointer-events: none;
}

.gameOver {
    cursor: not-allowed;
    pointer-events: none;
}

.row {
    display: flex;
}

.grid {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#playerTurn.player1Header {
    color: rgb(255, 255, 255);
    background-color: rgba(22, 22, 22, 0.63);
}

#playerTurn.player2Header {
    color: rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.63);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}


.reset {
    pointer-events: all;
    margin-top: 20px;
    width: 60px;
    color: black;
    text-decoration: bolder;
    display: inline-flex;
    font-size: 16px;
    flex-direction: row;
}