.square {
    height: 2rem;
    width: 2rem;
    border: 2px solid purple;
    box-sizing: border-box;
    cursor: pointer;
}

#playerTurn {
    color: rgb(49, 2, 49);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}


.playerone {
    background-color: black;
}

.playertwo {
    background-color: white;
}

.square.available {
    background-color: palevioletred;
    opacity: 80%;
}

.square.occupied {
    cursor: not-allowed;
    pointer-events: none;
}

.gameOver {
    cursor: not-allowed;
    pointer-events: none;
}

.row {
    display: flex;
}

.grid {
    display: flex;
    align-items: center;
    flex-direction: column;

}

header {
    color: purple;
    text-align: center;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.reset {
    pointer-events: all;
    margin-top: 20px;
    width: 60px;
    color: black;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    flex-direction: row;
}